{% extends "layouts/base-fullscreen.html" %}

{% block title %} Sign UP {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Section -->
    <section class="min-vh-100 d-flex align-items-center section-image overlay-soft-dark" data-background="/static/assets/img/pages/form-image.jpg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <div class="signin-inner my-4 my-lg-0 bg-white shadow-soft border rounded border-light p-4 p-lg-5 w-100 fmxw-500">
                        
                        <div class="text-center text-md-center mb-4 mt-md-0">
                            <h2 class="mb-0 h3">
                                <a target="_blank" rel="noopener noreferrer" 
                                    href="https://appseed.us/apps/flask-apps/flask-pixel-uikit-pro">Flask Pixel PRO</a> - Sign UP
                            </h2>
                            <p class="text-center">
                                {% if msg %}
                                    {{ msg | safe }}
                                {% else %}
                                    Add your credentials
                                {% endif %}  
                            </p>                              
                        </div>

                        <form method="post" action="" class="mt-4">
                            
                            {{ form.hidden_tag() }}

                            <!-- Form -->
                            <div class="form-group mb-4">
                                <label for="email">Username</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon3"><span class="fas fa-user"></span></span>
                                    {{ form.username(class="form-control") }}
                                </div>  
                            </div>
                            <!-- End of Form -->

                            <!-- Form -->
                            <div class="form-group mb-4">
                                <label for="email">Email</label>
                                <div class="input-group">
                                    <span class="input-group-text" id="basic-addon3"><span class="fas fa-envelope"></span></span>
                                    {{ form.email(class="form-control", type="email") }}
                                </div>  
                            </div>
                            <!-- End of Form -->

                            <div class="form-group">
                                <!-- Form -->
                                <div class="form-group mb-4">
                                    <label for="password">Password</label>
                                    <div class="input-group">
                                        <span class="input-group-text" id="basic-addon4"><span class="fas fa-unlock-alt"></span></span>
                                        {{ form.password(class="form-control", type="password") }}
                                    </div>  
                                </div>
                                <!-- End of Form -->

                                <!-- End of Form -->
                                <div class="form-check mb-4">
                                    <input class="form-check-input" type="checkbox" value="" id="terms">
                                    <label class="form-check-label" for="terms">
                                        I agree to the <a href="#">terms and conditions</a>
                                    </label>
                                </div>
                            </div>
                            <div class="d-grid">
                                <button type="submit" name="register" class="btn btn-block btn-primary">Sign Up</button>
                            </div>
                        </form>
                        <div class="d-flex justify-content-center align-items-center mt-4">
                            <span class="font-weight-normal">
                                Already registered?
                                <a href="{{ url_for('login') }}" class="font-weight-bold">Sign IN</a>
                            </span>
                        </div>
                    </div>
                </div>

                <div class="col-12 d-flex align-items-center justify-content-center">
                    <br />    
                </div>
                <div class="col-12 d-flex align-items-center justify-content-center">
                    <br />    
                    <span class="text-white font-small"> 
                        &copy; <a target="_blank" rel="noopener noreferrer" href="https://themesberg.com/?ref=appseed">Themesberg</a> 
                        - coded by <a target="_blank" rel="noopener noreferrer" href="https://appseed.us">AppSeed</a>.
                    </span>
                </div>                 
            </div>
        </div>
    </section>
        
{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
