{% extends "layouts/base.html" %}

{% block title %} Dashboard Edit Item {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-light navbar-transparent navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <div class="section section-lg pt-5 pt-md-7 bg-gray-200">
        <div class="container">
            <div class="row pt-5 pt-md-0">

                <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                    <!-- Navigation -->
                    <div class="card border-gray-300 p-2">
                        <div class="card-header bg-white border-0 text-center d-flex flex-row flex-lg-column align-items-center justify-content-center px-1 px-lg-4">
                            <div class="profile-thumbnail dashboard-avatar mx-lg-auto me-3">
                                <img src="/static/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white" alt="Bonnie Green Portrait">
                            </div>
                            <span class="h5 my-0 my-lg-3 me-3 me-lg-0">Hi, Bonnie!</span>
                            <a href="#" class="btn btn-gray-300 btn-xs"><span class="me-2"><span class="fas fa-sign-out-alt"></span></span>Sign Out</a>
                        </div>
                        <div class="card-body p-2 d-none d-lg-block">
                            <div class="list-group dashboard-menu list-group-sm">
                                <a href="/dashboard-account.html" class="d-flex list-group-item border-0 list-group-item-action ">Overview <span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                <a href="/dashboard-settings.html" class="d-flex list-group-item border-0 list-group-item-action ">Settings<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                <a href="/dashboard-my-items.html" class="d-flex list-group-item border-0 list-group-item-action  active ">My Items<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                <a href="/dashboard-security.html" class="d-flex list-group-item border-0 list-group-item-action ">Security<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                <a href="/dashboard-billing.html" class="d-flex list-group-item border-0 list-group-item-action ">Billing<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                <a href="/dashboard-messages.html" class="d-flex list-group-item border-0 list-group-item-action  border-0">Messages<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-lg-none">
                    <div class="card bg-white border-gray-300 mb-4 mb-lg-5">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-10 d-flex">
                                    <a href="/dashboard-account.html" class="list-group-item list-group-item-action border-0 text-center me-2 ">Overview</a>
                                    <a href="/dashboard-settings.html" class="list-group-item list-group-item-action border-0 text-center me-2 ">Settings</a>
                                    <a href="/dashboard-my-items.html" class="list-group-item list-group-item-action border-0 text-center me-2 d-none d-sm-block border-0  active ">My Items</a>
                                    <a href="/dashboard-security.html" class="list-group-item list-group-item-action border-0 text-center d-none d-md-block border-0 ">Security</a>
                                </div>
                                <div class="col-2 d-flex justify-content-center">
                                    <div class="btn-group dropleft">
                                        <button class="btn btn-link dropdown-toggle dropdown-toggle-split me-2 m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="icon icon-sm">
                                                <span class="fas fa-ellipsis-h icon-secondary fa-lg"></span>
                                            </span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a href="/dashboard-my-items.html" class="list-group-item list-group-item-action d-sm-none border-0  active ">My Items</a>
                                            <a href="/dashboard-security.html" class="list-group-item list-group-item-action d-md-none border-0 ">Security</a>
                                            <a href="/dashboard-billing.html" class="list-group-item list-group-item-action border-0 ">Billing</a>
                                            <a href="/dashboard-messages.html" class="list-group-item list-group-item-action border-0 ">Messages</a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-8">
                    <form action="#" method="post" class="card border-gray-300 p-4 mb-4">
                        <h1 class="h5 mb-4">Edit item</h1>
                        <div class="mb-4">
                            <label for="firstname">Title</label>
                            <input type="text" placeholder="A nice little title" class="form-control" id="firstname" required>
                        </div>
                        <div class="mb-4">
                            <label for="location">Location</label>
                            <input type="text" placeholder="26, Vancouver, BC, Canada - 324578" class="form-control" id="location" required>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="mb-4">
                                    <label for="currency">Currency</label>
                                    <select class="form-select" id="currency" aria-label="Currency select example">
                                        <option value="USD">USD</option>
                                        <option value="EUR">EUR</option>
                                        <option value="GBP">GBP</option>
                                        <option value="AUD">AUD</option>
                                        <option value="CNY">CNY</option>
                                        <option value="JPY">JPY</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="mb-4">
                                    <label for="price">Monthly price</label>
                                    <input type="number" placeholder="250" class="form-control text-gray" id="price" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="mb-4">
                                    <label for="term">Minimum term</label>
                                    <select class="form-select" id="term" aria-label="Term select example">
                                        <option value="d">day</option>
                                        <option value="m">month</option>
                                        <option value="y" selected>year</option>
                                    </select>
                                </div>
                            </div>
                            <div class="col-12 col-lg-6">
                                <div class="mb-4">
                                    <label for="term_amount">Amount</label>
                                    <input type="number" placeholder="1" class="form-control text-gray" id="term_amount" required>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-12 col-lg-4">
                                <div class="mb-4">
                                    <label for="sqfeet">Number input</label>
                                    <input type="number" placeholder="180" class="form-control text-gray" id="sqfeet" required>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="mb-4">
                                    <label for="people">Dropdown example</label>
                                    <input type="number" placeholder="15" class="form-control text-gray" id="people" required>
                                </div>
                            </div>
                            <div class="col-12 col-lg-4">
                                <div class="mb-4">
                                    <label for="type">Type</label>
                                    <select class="form-select" id="type" aria-label="Type select example">
                                        <option value="meeting" selected>meeting</option>
                                        <option value="work">work</option>
                                        <option value="events">events</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="mb-4">
                            <label for="description">Description</label>
                            <textarea rows="10" class="form-control text-gray" id="description" required>Lorem, ipsum dolor sit amet consectetur adipisicing elit. 
                            </textarea>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary btn-dark mt-2 animate-up-2"
                                    type="submit">Update</button>
                            </div>
                        </div>
                    </form>
                    <form action="#" method="post" class="card text-gray border-gray-300 p-4 mb-4">
                        <h2 class="h6">Featured image</h2>
                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <div class="profile-image-small fmxw-100 me-4">
                                <img class="rounded" src="/static/assets/img/account/office-1.jpg" alt="Office">
                            </div>
                            <!-- Form -->
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Default file input example</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>
                            <!-- End of Form -->
                        </div>
                        <small class="text-gray fw-light font-xs d-block mt-2">Image should be at least 500 pixels wide and only *.jpg, *.png and *.jpeg formats are accepted.</small>
                    </form>
                    <form action="#" method="post" class="card text-gray border-gray-300 p-4 mb-4">
                        <h2 class="h6">Gallery</h2>
                        <div class="d-flex justify-content-between align-items-center mt-2">
                            <!-- Form -->
                            <div class="mb-3">
                                <label for="formFile" class="form-label">Default file input example</label>
                                <input class="form-control" type="file" id="formFile">
                            </div>
                            <!-- End of Form -->
                        </div>
                        <small class="text-gray fw-light font-xs d-block mt-2">Images should be at least 500 pixels wide and only *.jpg, *.png and *.jpeg formats are accepted.</small>
                        <div class="d-flex flex-wrap mt-4">
                            <div class="profile-image-small fmxw-100 me-3 mb-3">
                                <img class="rounded" src="/static/assets/img/account/office-1.jpg" alt="Office Conference">
                            </div>
                            <div class="profile-image-small fmxw-100 me-3 mb-3">
                                <img class="rounded" src="/static/assets/img/account/office-2.jpg" alt="Office Cowork">
                            </div>
                            <div class="profile-image-small fmxw-100 me-3 mb-3">
                                <img class="rounded" src="/static/assets/img/account/office-3.jpg" alt="Office Lifestyle">
                            </div>
                            <div class="profile-image-small fmxw-100 me-3 mb-3">
                                <img class="rounded" src="/static/assets/img/account/office-1.jpg" alt="Themesberg Office">
                            </div>
                            <div class="profile-image-small fmxw-100 me-3 mb-3">
                                <img class="rounded" src="/static/assets/img/account/office-2.jpg" alt="Office Meeting">
                            </div>
                            <div class="profile-image-small fmxw-100 me-3 mb-3">
                                <img class="rounded" src="/static/assets/img/account/office-3.jpg" alt="Office Private">
                            </div>
                        </div>
                    </form>
                    <form action="#" method="post" class="card text-gray border-gray-300 p-4 mb-4">
                        <div class="mb-4">
                            <label for="video">Video url</label>
                            <input type="text" value="https://vimeo.com/40842620" class="form-control text-gray" id="video" required>
                        </div>
                        <div class="row">
                            <div class="col">
                                <button class="btn btn-primary btn-dark mt-2 animate-up-2 text-right"
                                    type="submit">Update</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}

