{% extends "layouts/base.html" %}

{% block title %} Dashboard Single Message {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-light navbar-transparent navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <div class="section section-lg pt-5 pt-md-7 bg-gray-200">
        <div class="container">
            <div class="row pt-5 pt-md-0">
                
                <div class="col-12 col-lg-4 mb-3 mb-lg-0">
                    <!-- Navigation -->
                    <div class="card border-gray-300 p-2">
                        <div class="card-header bg-white border-0 text-center d-flex flex-row flex-lg-column align-items-center justify-content-center px-1 px-lg-4">
                            <div class="profile-thumbnail dashboard-avatar mx-lg-auto me-3">
                                <img src="/static/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-white" alt="Bonnie Green Portrait">
                            </div>
                            <span class="h5 my-0 my-lg-3 me-3 me-lg-0">Hi, Bonnie!</span>
                            <a href="#" class="btn btn-gray-300 btn-xs"><span class="me-2"><span class="fas fa-sign-out-alt"></span></span>Sign Out</a>
                        </div>
                        <div class="card-body p-2 d-none d-lg-block">
                            <div class="list-group dashboard-menu list-group-sm">
                                <a href="/dashboard-account.html" class="d-flex list-group-item border-0 list-group-item-action ">Overview <span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                <a href="/dashboard-settings.html" class="d-flex list-group-item border-0 list-group-item-action ">Settings<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                <a href="/dashboard-my-items.html" class="d-flex list-group-item border-0 list-group-item-action ">My Items<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                <a href="/dashboard-security.html" class="d-flex list-group-item border-0 list-group-item-action ">Security<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                <a href="/dashboard-billing.html" class="d-flex list-group-item border-0 list-group-item-action ">Billing<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                                <a href="/dashboard-messages.html" class="d-flex list-group-item border-0 list-group-item-action  active  border-0">Messages<span class="icon icon-xs ms-auto"><span class="fas fa-chevron-right"></span></span> </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 d-lg-none">
                    <div class="card bg-white border-gray-300 mb-4 mb-lg-5">
                        <div class="card-body">
                            <div class="row align-items-center">
                                <div class="col-10 d-flex">
                                    <a href="/dashboard-account.html" class="list-group-item list-group-item-action border-0 text-center me-2 ">Overview</a>
                                    <a href="/dashboard-settings.html" class="list-group-item list-group-item-action border-0 text-center me-2 ">Settings</a>
                                    <a href="/dashboard-my-items.html" class="list-group-item list-group-item-action border-0 text-center me-2 d-none d-sm-block border-0 ">My Items</a>
                                    <a href="/dashboard-security.html" class="list-group-item list-group-item-action border-0 text-center d-none d-md-block border-0 ">Security</a>
                                </div>
                                <div class="col-2 d-flex justify-content-center">
                                    <div class="btn-group dropleft">
                                        <button class="btn btn-link dropdown-toggle dropdown-toggle-split me-2 m-0 p-0" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                            <span class="icon icon-sm">
                                                <span class="fas fa-ellipsis-h icon-secondary fa-lg"></span>
                                            </span>
                                            <span class="sr-only">Toggle Dropdown</span>
                                        </button>
                                        <div class="dropdown-menu">
                                            <a href="/dashboard-my-items.html" class="list-group-item list-group-item-action d-sm-none border-0 ">My Items</a>
                                            <a href="/dashboard-security.html" class="list-group-item list-group-item-action d-md-none border-0 ">Security</a>
                                            <a href="/dashboard-billing.html" class="list-group-item list-group-item-action border-0 ">Billing</a>
                                            <a href="/dashboard-messages.html" class="list-group-item list-group-item-action border-0  active ">Messages</a> 
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 col-lg-8">
                    <div class="text-left mb-3">
                        <a href="/dashboard-messages.html">
                            <span class="icon icon-xs">
                            <span class="fas fa-chevron-left me-2"></span></span> Back to all messages
                        </a>
                    </div>
                    <div class="card bg-gray-200-indigo border-gray-300 mb-4">
                        <div class="row g-0 align-items-center">
                            <div class="col-12 col-lg-4 col-xl-4">
                                <a href="#">
                                    <img src="/static/assets/img/shop/item-5.jpg" alt="private office" class="card-img p-2 rounded-xl">
                                </a>
                            </div>
                            <div class="col-12 col-lg-7 col-xl-8">
                                <div class="card-body text-dark">
                                    <a href="#">
                                        <h4 class="h6">Audi RS6 4.0 TFSI V8 Avant Tiptronic</h4>
                                    </a>
                                    <ul class="list-group mb-3">
                                        <li class="list-group-item small p-0 border-0"><span class="fas fa-map-marker-alt me-2"></span>New York, Manhattan, USA</li>
                                    </ul>
                                    <div class="d-flex justify-content-between">
                                        <div class="col ps-0">
                                            <span class="small d-block">Price</span>
                                            <span class="h6 text-dark fw-bold">50000$</span>
                                        </div>
                                        <div class="col">
                                            <span class="small d-block">Engine</span>
                                            <span class="h6 text-dark fw-bold">4.0 TFSI</span>
                                        </div>
                                        <div class="col me-0">
                                            <span class="small d-block">Type</span>
                                            <span class="h6 text-dark fw-bold">Coupe</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card bg-white border-gray-300 p-4 mb-4">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <span class="font-small">
                                <a href="#">
                                    <img class="avatar-sm img-fluid rounded-circle me-2"
                                        src="/static/assets/img/team/profile-picture-1.jpg" alt="avatar">
                                    <span class="fw-bold">Neil Sims</span>
                            </a>
                            <span class="ms-2">March 26, 19:25</span>
                            </span>
                            <div class="d-none d-sm-block">
                                <button class="btn btn-link text-dark" aria-label="phone" data-toggle="tooltip" data-placement="top" title="Sent from the phone " data-original-title="Sent from the phone">
                                    <span class="fas fa-mobile-alt"></span>
                                </button>
                            </div>
                        </div>
                        <p class="m-0">
                            Hi Chris! Thanks a lot for this very useful template. Saved me a lot of time and searches on the internet.
                        </p>
                    </div>
                    <div class="card bg-primary text-white border-gray-300 p-4 ms-md-5 ms-lg-6 mb-4">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <span class="font-small">
                            <span class="fw-bold">Your Answer</span>
                            <span class="ms-2">March 26, 19:25</span>
                            </span>
                            <div class="d-none d-sm-block">
                                <button class="btn btn-link text-white" aria-label="phone" data-toggle="tooltip" data-placement="top" title="Sent from the phone " data-original-title="Sent from the phone">
                                    <span class="fas fa-mobile-alt"></span>
                                </button>
                            </div>
                        </div>
                        <p class="m-0">
                            Hi Neil, thanks for sharing your thoughts regarding Spaces. Hi Neil, thanks for sharing your thoughts regarding Spaces.
                        </p>
                    </div>
                    <div class="card bg-white border-gray-300 p-4 mb-5">
                        <div class="d-flex justify-content-between align-items-center mb-2">
                            <span class="font-small">
                                <a href="#">
                                    <img class="avatar-sm img-fluid rounded-circle me-2"
                                        src="/static/assets/img/team/profile-picture-1.jpg" alt="avatar">
                                    <span class="fw-bold">Neil Sims</span>
                            </a>
                            <span class="ms-2">March 26, 19:25</span>
                            </span>
                            <div class="d-none d-sm-block">
                                <button class="btn btn-link text-dark" aria-label="phone" data-toggle="tooltip" data-placement="top" title="Sent from the phone " data-original-title="Sent from the phone">
                                    <span class="fas fa-mobile-alt"></span>
                                </button>
                            </div>
                        </div>
                        <p class="m-0">
                            Hi Chris! Thanks a lot for this very useful template. Saved me a lot of time and searches on the internet.
                        </p>
                    </div>
                    <form action="#" class="mt-4">
                        <textarea class="form-control border border-gray-300-gray mb-4" id="message" placeholder="Your Message" rows="6" maxlength="1000" required></textarea>
                        <div class="d-flex justify-content-between align-items-center mt-3">
                            <div class="file-field">
                                <div class="d-flex justify-content-center">
                                    <div class="d-flex">
                                        <span class="icon icon-md h6"><span class="fas fa-paperclip me-3"></span></span>
                                        <input type="file"> 
                                        <div class="d-md-block text-left d-none d-sm-block">
                                            <div class="fw-normal text-dark mb-1">Add File</div> 
                                            <div class="text-gray small me-3 me-md-11">Supported files are: jpg, jpeg, png, doc, pdf, gif, zip, rare, tar, txt, xls, docx, xlsx, odt
                                            </div>
                                        </div>                                           
                                    </div>
                                </div>
                            </div>
                            <div>
                                <button type="submit" class="btn btn-dark">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
