{% extends "layouts/base.html" %}

{% block title %} Services {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-dark navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <div class="section section-header pb-7 pb-md-10 bg-primary overflow-hidden">
        <div class="container z-2">
            <div class="row justify-content-center text-white text-center">
                <div class="col-12 col-md-10">
                    <div class="mb-3">
                        <h1 class="display-3 font-size-md-down-5 fw-light mb-0">Where the <span class="fw-bold">right</span> brain meets the <span class="fw-bold">left</span> brain.</h1>
                    </div>
                    <p class="my-4 px-0 px-lg-7 lead">A collection of creatives on a passion and results-driven mission to design, write and code custom digital marketing solutions.</p>
                    <a href="/page-services.html" class="btn btn-tertiary me-3 animate-up-2">Get started<span class="ms-2"><span class="fas fa-plus"></span></span></a>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Hero section -->
    <section class="section section-md pt-0">
        <div class="container">
            <div class="col-12 col-lg-12">
                <div class="row justify-content-center mt-n7 z-2">
                    <div class="col-12 col-md-6">
                        <div class="row mt-5 mt-lg-0 px-3">
                            <!-- Icon Boxes -->
                            <div class="card shadow border-gray-300">
                                <div class="card-body p-4 p-lg-5">
                                    <img src="/static/assets/img/pages/design.svg" alt="Web design illustration" class="image-md mb-4">
                                    <h2 class="h4 mb-2">Professional Design</h2>
                                    <p>We are trying to build our work to create a design which will complete and satisfy the necessities of our client and users of the product.</p>
                                    <a href="#" class="btn btn-sm btn-primary">Learn more</a>
                                </div>
                            </div>
                            <!-- End of Icon Boxes -->
                            <!-- Icon Boxes -->
                            <div class="card shadow border-gray-300 mt-3">
                                <div class="card-body p-4 p-lg-5">
                                    <img src="/static/assets/img/pages/technologies.svg" alt="Responsive illustration" class="image-md mb-4">
                                    <h2 class="h4 mb-2">Trending Technologies</h2>
                                    <p>Responsive web design is the combination of flexible grids, flexible images, and media queries. We help take the complexity out of responsive design.</p>
                                    <a href="#" class="btn btn-sm btn-primary">Learn more</a>
                                </div>
                            </div>
                            <!-- End of Icon Boxes -->
                        </div>
                    </div>
                    <div class="col-12 col-md-6 mt-lg-5">
                        <div class="row mt-3 mt-lg-0 px-3">
                            <!-- Icon Boxes -->
                            <div class="card shadow border-gray-300">
                                <div class="card-body p-4 p-lg-5">
                                    <img src="/static/assets/img/pages/code.svg" alt="Code illustration" class="image-md mb-4">
                                    <h2 class="h4 mb-2">Beautifuly Coded</h2>
                                    <p>Amazing template! All-in-one, clean code, beautiful design, and really not hard to work with.Highly recommended for any kind on website.
                                    </p>
                                    <a href="#" class="btn btn-sm btn-primary">Learn more</a>
                                </div>
                            </div>
                            <!-- End of Icon Boxes -->
                            <!-- Icon Boxes -->
                            <div class="card shadow border-gray-300 mt-3">
                                <div class="card-body p-4 p-lg-5">
                                    <img src="/static/assets/img/pages/support.svg" alt="Support illustration" class="image-md mb-4">
                                    <h2 class="h4 mb-2">Friendly Support</h2>
                                    <p>We use our expertise to explain how technology decisions can affect your business and how making the right choices with your technology can propel your business your forward.</p>
                                    <a href="#" class="btn btn-sm btn-primary">Learn more</a>
                                </div>
                            </div>
                            <!-- End of Icon Boxes -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Section -->
    <div class="section section-md bg-gray-200">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-8">
                    <div class="glide-testimonials">
                        <div data-glide-el="track" class="glide__track">
                            <ul class="glide__slides">
                            <li class="glide__slide text-center">
                                <div class="mb-3">
                                    <img class="m-auto avatar-lg p-2 border-gray-300 border rounded-circle" src="/static/assets/img/team/profile-picture-1.jpg" alt="Neil Avatar">
                                </div>
                                <span class="d-block my-3">
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star far fa-star text-gray"></span>
                                </span>
                                <blockquote class="blockquote bg-gray-200">
                                    Themesberg makes beautiful products to help people with creative ideas succeed. Our company empowers millions of people.
                                    <footer class="blockquote-footer mt-3 text-primary">Neil Sims</footer>
                                </blockquote>
                            </li>
                            <li class="glide__slide text-center">
                                <div class="mb-3">
                                    <img class="m-auto avatar-lg p-2 border-gray-300 border rounded-circle" src="/static/assets/img/team/profile-picture-3.jpg" alt="Bonnie Avatar">
                                </div>
                                <span class="d-block my-3">
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                </span>
                                <blockquote class="blockquote bg-gray-200">
                                    Themesberg makes beautiful products to help people with creative ideas succeed. Our company empowers millions of people.
                                    <footer class="blockquote-footer mt-3 text-primary">Bonnie Green</footer>
                                </blockquote>
                            </li>
                            <li class="glide__slide text-center">
                                <div class="mb-3">
                                    <img class="m-auto avatar-lg p-2 border-gray-300 border rounded-circle" src="/static/assets/img/team/profile-picture-2.jpg" alt="Christopher Avatar">
                                </div>
                                <span class="d-block my-3">
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                    <span class="star fas fa-star text-warning"></span>
                                </span>
                                <blockquote class="blockquote bg-gray-200">
                                    Themesberg makes beautiful products to help people with creative ideas succeed. Our company empowers millions of people.
                                    <footer class="blockquote-footer mt-3 text-primary">Christopher Wood</footer>
                                </blockquote>
                            </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Section -->
    <div class="section section-sm py-0 mt-5 mt-md-n5 d-none d-sm-block">
        <!-- Clients -->
        <div class="container top-0 right-o left-0 z-2">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="bg-white border border-gray-300 rounded-pill py-4">
                        <ul class="d-flex flex-wrap justify-content-center list-unstyled mb-0">
                            <li class="mx-xl-4 mx-3 d-flex align-items-center">
                                <h2 class="h5 m-0 mb-4 mb-md-0 text-gray">Pixel partners</h2>
                            </li>
                            <li class="mx-xl-4 mx-3 mb-3 mb-md-0">
                                <img class="img-fluid image-sm" src="/static/assets/img/clients/paypal.svg" alt="paypal logo">
                            </li>
                            <li class="mx-xl-4 mx-3 mb-3 mb-md-0">
                                <img class="img-fluid image-sm" src="/static/assets/img/clients/airbnb.svg" alt="airbnb logo">
                            </li>
                            <li class="mx-xl-4 mx-3 mb-3 mb-md-0">
                                <img class="img-fluid image-sm" src="/static/assets/img/clients/forbes.svg" alt="forbes logo">
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <!-- End of clients -->
    </div>
    <section class="section">
        <div class="container">
            <div class="row justify-content-center">
                <form action="#" class="col-md-8">
                    <div class="text-center">
                        <h2 class="h1 fw-light">Join our <span class="fw-bold">1,360,462 </span> subscribers
                        </h2>
                        <p class="lead mb-5">Get exclusive access to freebies & premium products.</p>
                    </div>
                    <!-- Form -->
                    <div class="form-group">
                        <div class="input-group">
                            <input type="email" class="form-control form-control-lg rounded-start" placeholder="Your email" required>
                            <button class="btn btn-tertiary" type="submit">Subscribe</button>
                        </div>
                    </div>
                    <!-- End of Form -->
                </form>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}