{% extends "layouts/base.html" %}

{% block title %} Team {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-dark navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <section class="section-header bg-secondary pb-8 pb-md-11 mb-4 mb-lg-6 text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-8 text-center">
                    <h1 class="display-2 text-white mb-3">Our team</h1>
                    <p class="lead">Whether you’re a programmer, designer, freelancer or need Rocket for a whole team our pricing just makes sense.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg pt-0">
        <div class="container mt-n8 mt-lg-n10 z-2">
            <div class="row mt-7">
                <div class="col-12 col-md-6 col-lg-4 mb-7">
                    <div class="card shadow border-gray-300 text-center">
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="/static/assets/img/team/profile-picture-1.jpg" class="card-img-top rounded-circle border-0" alt="Jose Avatar">
                        </div>
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Jose Leos</h2>
                            <span class="card-subtitle text-gray fw-normal">Co-Founder</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                <li>
                                    <a href="#" target="_blank" aria-label="facebook social link" class="text-facebook me-3">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="twitter social link" class="text-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="slack social link" class="text-slack me-3">
                                        <span class="fab fa-slack-hash"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="dribbble social link" class="text-dribbble">
                                        <span class="fab fa-dribbble"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="card-text my-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-7">
                    <div class="card shadow border-gray-300 text-center">
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="/static/assets/img/team/profile-picture-2.jpg" class="card-img-top rounded-circle border-0" alt="Neil Avatar">
                        </div>
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Neil Sims</h2>
                            <span class="card-subtitle text-gray fw-normal">Web Developer</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                <li>
                                    <a href="#" target="_blank" aria-label="facebook social link" class="text-facebook me-3">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="twitter social link" class="text-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="slack social link" class="text-slack me-3">
                                        <span class="fab fa-slack-hash"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="dribbble social link" class="text-dribbble">
                                        <span class="fab fa-dribbble"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="card-text my-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-7">
                    <div class="card shadow border-gray-300 text-center">
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="/static/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-circle border-0" alt="Bonnie Avatar">
                        </div>
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Bonnie Green</h2>
                            <span class="card-subtitle text-gray fw-normal">Web Designer</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                <li>
                                    <a href="#" target="_blank" aria-label="facebook social link" class="text-facebook me-3">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="twitter social link" class="text-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="slack social link" class="text-slack me-3">
                                        <span class="fab fa-slack-hash"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="dribbble social link" class="text-dribbble">
                                        <span class="fab fa-dribbble"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="card-text my-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-7 mb-lg-0">
                    <div class="card shadow border-gray-300 text-center">
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="/static/assets/img/team/profile-picture-4.jpg" class="card-img-top rounded-circle border-0" alt="Joseph Avatar">
                        </div>
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Joseph Garth</h2>
                            <span class="card-subtitle text-gray fw-normal">Marketing</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                <li>
                                    <a href="#" target="_blank" aria-label="facebook social link" class="text-facebook me-3">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="twitter social link" class="text-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="slack social link" class="text-slack me-3">
                                        <span class="fab fa-slack-hash"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="dribbble social link" class="text-dribbble">
                                        <span class="fab fa-dribbble"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="card-text my-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-7 mb-md-0 mb-lg-0">
                    <div class="card shadow border-gray-300 text-center">
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="/static/assets/img/team/profile-picture-5.jpg" class="card-img-top rounded-circle border-0" alt="Christopher Avatar">
                        </div>
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Christopher Wood</h2>
                            <span class="card-subtitle text-gray fw-normal">Web Developer</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                <li>
                                    <a href="#" target="_blank" aria-label="facebook social link" class="text-facebook me-3">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="twitter social link" class="text-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="slack social link" class="text-slack me-3">
                                        <span class="fab fa-slack-hash"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="dribbble social link" class="text-dribbble">
                                        <span class="fab fa-dribbble"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="card-text my-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card shadow border-gray-300 text-center">
                        <div class="profile-thumbnail mx-auto mt-n6">
                            <img src="/static/assets/img/team/profile-picture-6.jpg" class="card-img-top rounded-circle border-0" alt="Roberta Avatar">
                        </div>
                        <div class="card-body">
                            <h2 class="h4 card-title mb-2">Roberta Casas</h2>
                            <span class="card-subtitle text-gray fw-normal">SEO Specialist</span>
                            <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                                <li>
                                    <a href="#" target="_blank" aria-label="facebook social link" class="text-facebook me-3">
                                        <span class="fab fa-facebook-f"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="twitter social link" class="text-twitter me-3">
                                        <span class="fab fa-twitter"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="slack social link" class="text-slack me-3">
                                        <span class="fab fa-slack-hash"></span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" target="_blank" aria-label="dribbble social link" class="text-dribbble">
                                        <span class="fab fa-dribbble"></span>
                                    </a>
                                </li>
                            </ul>
                            <p class="card-text my-2">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg bg-gray-200">
        <div class="container z-2">
            <div class="row justify-content-center">
                <div class="col-md-10 text-center">
                    <h2 class="h1">Interested in joining the team?</h2>
                    <p class="lead py-4 text-gray">One of our most important core values is to partner with our employees because we know they are instrumental in the success of the company.</p>
                    <a href="/page-careers.html" class="btn btn-lg btn-secondary animate-up-2">See job openings</a>
                </div>
            </div>
        </div>  
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
