{% extends "layouts/base.html" %}

{% block title %} Landing Crypto {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-dark navbar-transparent navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <section class="section-header pb-5 pb-lg-7 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center justify-content-lg-between align-items-center">
                <div class="col-12 col-md-8 col-lg-5 text-center text-lg-left">
                    <h1 class="display-2 mb-0">Buy and sell cryptocurrency.</h1>
                    <p class="lead fw-normal text-muted mt-4 mb-4 mb-lg-5">Impact is the easiest place to buy and sell cryptocurrency. Buy Bitcoin, Ethereum and other digital assets within minutes.</p>
                    <a href="#" target="_blank"  role="button" class="btn btn-tertiary"><span class="far fa-question-circle me-2"></span>How to get started</a>
                </div>
                <div class="col-12 col-lg-6 d-none d-lg-block">
                    <img src="/static/assets/img/illustrations/crypto.svg" alt="Crypto Illustration">
                </div>
            </div>
        </div>
    </section>
    <section class="section section-sm bg-primary">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-lg-10">
                    <!-- Card -->
                    <div class="row text-white">
                        <div class="col-12 col-md-4 px-md-0">
                            <div class="card-body text-center bg-secondary rounded-start mb-3 mb-lg-0">
                                    <span class="icon icon-warning icon-lg mb-2"><span class="fab fa-btc"></span></span>
                                    <h2 class="h5">Bitcoin BTC</h2>
                                <!-- Heading -->
                                <h3 class="h4 me-2 my-2">
                                    5,503.56 USD
                                </h3>
                                <!-- Text -->
                                <p class="text-muted  small fw-normal mb-0">
                                Change, 24 hrs<span class="text-soft-green"> +1.25%</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 mb-3 mb-lg-0 px-md-0">
                            <div class="card-body text-center bg-dark border-left border-primary">
                                <span class="icon icon-blue icon-lg mb-2"><span class="fab fa-ethereum"></span></span>
                                <h2 class="h5">Ethereum</h2>
                                <!-- Heading -->
                                <h3 class="h4 me-2 my-2">
                                    175.36 USD
                                </h3>
                                <!-- Text -->
                                <p class="text-muted  small fw-normal mb-0">
                                Change, 24 hrs<span class="text-dribbble"> -2.00%</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-12 col-md-4 px-md-0">
                            <div class="card-body text-center bg-dark border-left border-primary rounded-end">
                                    <span class="icon icon-tertiary icon-lg mb-2"><span class="fab fa-bitcoin"></span></span>
                                    <h2 class="h5">Bitcoin Cash</h2>
                                <!-- Heading -->
                                <h3 class="h4 me-2 my-2">
                                    388.42 USD
                                </h3>
                                <!-- Text -->
                                <p class="text-muted  small fw-normal mb-0">
                                Change, 24 hrs<span class="text-soft-green"> +4.30%</span>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section bg-primary text-white">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-6 col-lg-4 text-center mb-5 px-lg-5">
                    <div class="icon icon-shape bg-secondary text-white rounded-circle">
                        <span class="fas fa-globe-europe"></span>
                    </div>
                    <h3 class="h4 my-3">European based</h3>
                    <p class="text-muted">Our creative team is headquartered in the sunny Timisoara, Romania</p>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 text-center mb-5 px-lg-5">
                    <div class="icon icon-shape bg-secondary text-white rounded-circle">
                        <span class="fas fa-coins"></span>
                    </div>
                    <h3 class="h4 my-3">Trade with peace of mind</h3>
                    <p class="fw-normal text-muted">2FA, Browser, Session and Device Management, and more</p>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 text-center mb-5 px-lg-5">
                    <div class="icon icon-shape bg-secondary text-white rounded-circle">
                        <span class="fas fa-user-astronaut"></span>
                    </div>
                    <h3 class="h4 my-3">24/7 Support</h3>
                    <p class="fw-normal text-muted">Our support staff is available 24 hours a day, 7 days a week to help you</p>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 text-center px-lg-5">
                    <div class="icon icon-shape bg-secondary text-white rounded-circle">
                        <span class="fas fa-box-open"></span>
                    </div>
                    <h3 class="h4 my-3">Secure storage</h3>
                    <p class="fw-normal text-muted">We store the vast majority of the digital assets in secure offline storage.</p>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 text-center px-lg-5">
                    <div class="icon icon-shape bg-secondary text-white rounded-circle">
                        <span class="fas fa-shield-alt"></span>
                    </div>
                    <h3 class="h4 my-3">Protected by insurance</h3>
                    <p class="fw-normal text-muted">Cryptocurrency stored on our servers is covered by our insurance policy.</p>
                </div>
                <div class="col-12 col-sm-6 col-lg-4 text-center px-lg-5">
                    <div class="icon icon-shape bg-secondary text-white rounded-circle">
                        <span class="fab fa-android"></span>
                    </div>
                    <h3 class="h4 my-3">Mobile apps</h3>
                    <p class="fw-normal text-muted">Stay on top of the markets with the Tradient app for Android or iOS.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg pb-0 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center mb-5">
                <div class="col-12 col-xl-10 text-center mb-4 mb-lg-6 ">
                    <h2 class="display-3 mb-4">Buy Bitcoin with Credit Card</h2>
                    <p class="lead text-muted fw-normal px-lg-8">Buy and sell popular digital currencies lightning fast and keep track of them in the one place.</p>
                </div>
            </div>
            <div class="row justify-content-between align-items-center">
                <div class="col-12 col-md-6 mb-5 mb-lg-0">
                    <div class="card bg-dark shadow-md border-0 px-3 py-4 py-lg-4 px-lg-5">
                        <div class="card-body text-white text-left p-0 pt-2">
                            <form action="#">
                                <div class="mb-4">
                                    <label class="fw-bold h6 mb-3" for="currency">Currency</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-text bg-primary border-0">
                                            <label class="text-white icon icon-sm mb-0"><span class="fas fa-money-check-alt"></span></label>
                                        </div>
                                        <select class="form-select form-select-lg bg-primary border-0 text-white" id="currency" aria-label="Example select with button addon">
                                            <option value="">Bitcoin Btc</option>
                                            <option value="bitcoin">Bitcoin Cash</option>
                                            <option value="litecoin">Ethereum</option>
                                            <option value="litecoin">Litecoin</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="mb-4">
                                    <label class="fw-bold h6 mb-3" for="method">Payment Method</label>
                                    <div class="input-group mb-3">
                                        <div class="input-group-text bg-primary border-0">
                                            <label class="text-white icon icon-sm mb-0"><span class="fas fa-money-check"></span></label>
                                        </div>
                                        <select class="form-select form-select-lg bg-primary border-0 text-white" id="method" aria-label="Example select with button addon">
                                            <option value="">Credit Card</option>
                                            <option value="bitcoin">Paypal</option>
                                            <option value="litecoin">Bank Transfer</option>
                                        </select>
                                    </div>
                                </div>
                                <div>
                                    <label class="fw-bold h6 mb-3" for="usd_amount">Enter your amount</label>
                                    <div class="input-group">
                                        <input type="text" name="currency_amount" class="form-control form-control-lg bg-primary border-dark" placeholder="0.0314 BTC" required>
                                        <input type="text" id="usd_amount" name="usd_amount" class="form-control form-control-lg bg-primary border-dark" placeholder="150.00 USD" required>
                                    </div>
                                    <div class="d-flex justify-content-between text-white mt-3">
                                        <p class="mb-0">Monthly Limit</p>
                                        <h6 class="text-white mb-0">$39850 remaining</h6>
                                    </div>
                                </div>
                                <ul class="list-inline text-white mt-3 mb-4">
                                    <li class="list-inline icon icon-md me-2"><span class="fab fa-cc-visa"></span></li>
                                    <li class="list-inline icon icon-md me-2"><span class="fab fa-cc-mastercard"></span></li>
                                    <li class="list-inline icon icon-md me-2"><span class="fab fa-cc-amazon-pay"></span></li>
                                    <li class="list-inline icon icon-md me-2"><span class="fab fa-cc-stripe"></span></li>
                                    <li class="list-inline icon icon-md"><span class="fab fa-cc-paypal"></span></li>
                                </ul>
                                <div class="d-grid">
                                    <a href="#" class="btn btn-tertiary">Exchange Now</a>
                                </div>
                            </form> 
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-5">
                    <div class="d-flex mb-4">
                        <div>
                            <div class="icon icon-shape icon-md bg-secondary text-white rounded-circle">
                                <span class="fas fa-bolt"></span>
                            </div>
                        </div>
                        <div class="ps-4">
                            <h4>Instant trading</h4>
                            <p class="fw-normal text-muted">Real-time balance updates and notifications, buy and sell popular digital currencies.</p>
                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <div>
                            <div class="icon icon-shape icon-md bg-secondary text-white rounded-circle">
                                <span class="fas fa-cash-register"></span>
                            </div>
                        </div>
                        <div class="ps-4">
                            <h4>Recurring buys</h4>
                            <p class="fw-normal text-muted">Invest in cryptocurrency slowly over time by scheduling buys daily, weekly, or monthly.</p>
                        </div>
                    </div>
                    <div class="d-flex mb-4">
                        <div>
                            <div class="icon icon-shape icon-md bg-secondary text-white rounded-circle">
                                <span class="fas fa-user-shield"></span>
                            </div>
                        </div>
                        <div class="ps-4">
                            <h4>Secure storage</h4>
                            <p class="fw-normal text-muted">To keep your funds secure, we store 98% of digital funds in an offline, secure wallet.</p>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div>
                            <div class="icon icon-shape icon-md bg-secondary text-white rounded-circle">
                                <span class="fas fa-percent"></span>
                            </div>
                        </div>
                        <div class="ps-4">
                            <h4>Low & transparent fees</h4>
                            <p class="fw-normal text-muted mb-0">All our fees are transparent, upfront and listed when you make a trade.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="section section-md bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8">
                    <div class="card bg-primary flex-md-row g-0 border-0 align-items-center">
                        <div class="card-body text-center p-4">
                            <figure class="mb-4">
                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="48px" height="48px" viewBox="0 0 8 8" style="enable-background:new 0 0 8 8;" xml:space="preserve">
                                    <path fill="#893168" d="M3,1.3C2,1.7,1.2,2.7,1.2,3.6c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5
                                    C1.4,6.9,1,6.6,0.7,6.1C0.4,5.6,0.3,4.9,0.3,4.5c0-1.6,0.8-2.9,2.5-3.7L3,1.3z M7.1,1.3c-1,0.4-1.8,1.4-1.8,2.3
                                    c0,0.2,0,0.4,0.1,0.5c0.2-0.2,0.5-0.3,0.9-0.3c0.8,0,1.5,0.6,1.5,1.5c0,0.9-0.7,1.5-1.5,1.5c-0.7,0-1.1-0.3-1.4-0.8
                                    C4.4,5.6,4.4,4.9,4.4,4.5c0-1.6,0.8-2.9,2.5-3.7L7.1,1.3z"></path>
                                </svg>
                            </figure>
                            <p class="fw-normal lead text-muted mb-4">
                                Integrating Tradient services into Impact Wallet's exchange has been a great success for all parties, especially the users.
                            </p>
                            <h6>Joseph Garth</h6>
                            <p class="small">CDO, Themesberg</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="section section-md bg-secondary text-white">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <div class="col-12 col-lg-5 mb-lg-4 mb-md-0 d-none d-lg-block">
                    <img src="/static/assets/img/illustrations/crypto-footer.svg" alt="mockup">
                </div>
                <div class="col-12 col-lg-6">
                    <span class="badge bg-tertiary">New</span>
                    <div class="my-4">
                        <h2 class="h1 mb-4">Qr based secured transaction</h2>
                        <p class="lead text-muted fw-normal mb-5">
                            To receive your friend’s bitcoins a Transaction code & QR code will be refreshing every 15 seconds to ensure secure transactions.
                        </p>
                    </div>
                    <div class="d-sm-flex">
                        <div>
                            <a href="#" class="btn btn-primary mb-3 mb-sm-0 me-3">
                                <span class="d-flex align-items-center">
                                    <span class="icon icon-brand me-3"><span class="fab fa-apple"></span></span>
                                    <span class="d-inline-block text-left">
                                        <small class="fw-normal d-block">Available on</small> App Store 
                                    </span> 
                                </span>
                            </a>   
                        </div>
                        <div>
                            <a href="#" class="btn btn-primary">
                                <span class="icon icon-brand me-3"><span class="fab fa-google-play"></span></span>
                                <span class="d-inline-block text-left">
                                    <small class="fw-normal d-block">Available on</small> Google Play
                                </span> 
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
