{% extends "layouts/base.html" %}

{% block title %} Career Single {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-dark navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <section class="section-header pb-10 pb-lg-11 mb-4 mb-lg-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 text-center mb-4 mb-lg-5">
                    <h1 class="display-2 font-weight-extreme mb-4">Frontend Engineer</h1>
                    <div class="d-flex flex-column flex-lg-row justify-content-center">
                        <span class="h5 mb-3 mb-lg-0"><span class="fas fa-map-marker-alt"></span><span class="ms-3">Sillicon Valley, CA</span></span>
                        <span class="ms-lg-5 mb-3 mb-lg-0 h5"><span class="fas fa-user-tie"></span><span class="ms-3">Full Time</span></span>
                        <span class="ms-lg-5 mb-3 mb-lg-0 h5"><span class="fas fa-file-invoice-dollar"></span><span class="ms-3">$115-150k / year</span></span>
                    </div>
                </div>
                <div class="col col-12 text-center">
                    <a href="/page-careers.html" class="btn btn-outline-white text-white me-3"><span class="fas fa-arrow-left me-2"></span>See All Jobs</a>  
                    <a href="#apply" class="btn btn-tertiary"><span class="fas fa-clipboard-list me-2"></span>Apply Now</a>
                </div>
            </div>
        </div>
        <div class="pattern bottom"></div>
    </section>
    <section class="section section-lg pt-0">
        <div class="container mt-n8 mt-lg-n11 z-2">
            <div class="row justify-content-center">
                <div class="col">
                    <div class="card border-gray-300 p-3 p-md-5">
                        <p class="lead mb-5"><strong class="font-weight-extreme">Rocket</strong> is currently seeking a Frontend Engineer to join our Digital Team focusing on wines & spirits, beauty and lifestyle brands. In this position you will be responsible for effectively managing multiple accounts and team members, including serving as key client contact. The successful candidate is an established leader viewed as a seasoned professional in the digital + social space; respected by senior clients, with a proven track record that demonstrates team growth by leading, maintaining and winning new business.</p>
                        <p class="lead mb-5">Ideal candidates will have 3+ years of full time experience building social media channels for brands, as well creating digital identity, leading content creation, developing an audience, working on event activations and strategic partnerships.</p>
                        <h2>Responsibilities:</h2>
                        <ul class="list-unstyled mb-5">
                            <li class="py-3 lead"><div class="d-flex"><span class="icon icon-sm me-3"><span class="fas fa-arrow-alt-circle-right"></span></span><div>Work with our leadership team to drive strategic planning and prioritization</div></div></li>
                            <li class="py-3 lead"><div class="d-flex"><span class="icon icon-sm me-3"><span class="fas fa-arrow-alt-circle-right"></span></span><div>Partner with cross-functional teams to drive flawless execution of global initiatives, including the definition and rollout of our international plan</div></div></li>
                            <li class="py-3 lead"><div class="d-flex"><span class="icon icon-sm me-3"><span class="fas fa-arrow-alt-circle-right"></span></span><div>Own the end-to-end process: build work plans, synthesize relevant data, lead analyses and develop recommendations</div></div></li>
                        </ul>
                        <h2>Requirements:</h2>
                        <ul class="list-unstyled mb-5">
                            <li class="py-3 lead"><div class="d-flex"><span class="icon icon-sm me-3"><span class="fas fa-plus-circle"></span></span><div>3+ years of related work experience at a high-performing technology company or management consulting; enterprise experience strongly preferred</div></div></li>
                            <li class="py-3 lead"><div class="d-flex"><span class="icon icon-sm me-3"><span class="fas fa-plus-circle"></span></span><div>Advanced analytical skills (including data modeling) and business insight</div></div></li>
                            <li class="py-3 lead"><div class="d-flex"><span class="icon icon-sm me-3"><span class="fas fa-plus-circle"></span></span><div>Experience dealing with unstructured business issues and successfully leading teams to resolve these issues</div></div></li>
                        </ul>
                        <h2>We offer great benefits too!</h2>
                        <ul class="list-unstyled mb-5">
                            <li class="py-3 lead"><div class="d-flex"><span class="icon icon-sm text-success me-3"><span class="fas fa-check-circle"></span></span><div>Generous vacation package that increases with tenure in addition to sick days, personal days and your birthday off too!</div></div></li>
                            <li class="py-3 lead"><div class="d-flex"><span class="icon icon-sm text-success me-3"><span class="fas fa-check-circle"></span></span><div>Strong company culture and happy work environment!</div></div></li>
                        </ul>
                        <div id="apply" class="row">
                            <div class="col">
                                <!-- Card -->
                                <div class="card bg-gray-200 border-gray-300 text-black py-4 p-lg-5">
                                    <div class="card-body p-3 p-md-4">
                                        <div class="mb-5 mb-lg-6 text-center">
                                            <h2 class="h1">Apply for this Job</h2>
                                        </div>
                                        <form action="#">
                                            <div class="row">
                                                <div class="col-12 col-md-6">
                                                    <!-- Form -->
                                                    <div class="mb-3">
                                                        <label for="firstNameLabel">First Name <span class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                            <span class="input-group-text" id="basic-addon1"><span class="fas fa-user-alt"></span></span>
                                                            <input type="text" class="form-control" id="firstNameLabel" placeholder="First Name" aria-label="name" aria-describedby="basic-addon1" required>
                                                        </div>
                                                    </div>
                                                    <!-- End of Form -->
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <!-- Form -->
                                                    <div class="mb-3">
                                                        <label for="lastNameLabel">Last Name <span class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                            <span class="input-group-text" id="basic-addon2"><span class="fas fa-user-alt"></span></span>
                                                            <input type="text" class="form-control" id="lastNameLabel" placeholder="Last Name" aria-label="last name" aria-describedby="basic-addon2" required>
                                                        </div>
                                                    </div>
                                                    <!-- End of Form -->
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <!-- Form -->
                                                    <div class="mb-3">
                                                        <label for="EmailLabel">Email <span class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                            <span class="input-group-text" id="basic-addon3"><span class="fas fa-envelope"></span></span>
                                                            <input type="text" class="form-control" id="EmailLabel" placeholder="Can we get your email?" aria-label="email" aria-describedby="basic-addon3" required>
                                                        </div>
                                                    </div>
                                                    <!-- End of Form -->
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <!-- Form -->
                                                    <div class="mb-3">
                                                        <label for="portfolioLabel">Portfolio <span class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                            <span class="input-group-text" id="basic-addon4"><span class="fas fa-link"></span></span>
                                                            <input type="text" class="form-control" id="portfolioLabel" placeholder="Linkedin" aria-label="portfolio" aria-describedby="basic-addon4" required>
                                                        </div>
                                                    </div>
                                                    <!-- End of Form -->
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <!-- Form -->
                                                    <div class="mb-3">
                                                        <label for="phonenumberLabel">Phone Number <span class="text-danger">*</span></label>
                                                        <div class="input-group">
                                                            <span class="input-group-text" id="basic-addon5"><span class="fas fa-phone-square-alt"></span></span>
                                                            <input type="text" class="form-control" id="phonenumberLabel" placeholder="Phone Number" aria-label="Search" aria-describedby="basic-addon5" required>
                                                        </div>
                                                    </div>
                                                    <!-- End of Form -->
                                                </div>
                                                <div class="col-12 col-md-6">
                                                    <!-- Form -->
                                                    <div class="mb-3">
                                                        <label for="formFile" class="form-label">Choose File <span class="text-danger">*</span></label>
                                                        <input class="form-control" type="file" id="formFile">
                                                        </div>
                                                    <!-- End of Form -->
                                                </div>
                                                <div class="col col-12 mt-4">
                                                    <div>
                                                        <label class="form-label text-muted" for="phonenumberLabel">Few words... <span class="text-danger">*</span></label>
                                                        <textarea class="form-control" placeholder="How'd you hear about Themesberg?" id="message-2" rows="8" required></textarea>
                                                    </div>
                                                    <div class="text-center">
                                                        <button type="submit" class="btn btn-secondary mt-4"><span class="me-2"><span class="fas fa-paper-plane"></span></span> Submit Application</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-lg pb-5 bg-gray-200">
        <div class="container">
            <div class="row justify-content-center mb-4 mb-lg-5">
                <div class="col">
                    <h2 class="h2">Open positions</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-xl-4 mb-4">
                    <div class="card bg-white border-gray-300 p-3">
                        <div class="card-header bg-white border-0 p-3 p-md-4">
                            <h3 class="mb-3 h4">Backend Engineer</h3>
                            <div class="d-flex small">
                                <a href="/page-career-single.html" class="text-gray"><span class="icon-primary"><i class="fas fa-map-marker-alt"></i></span><span class="ms-2">Chicago, IL</span></a>
                                <span class="icon-primary ms-4"><span class="fas fa-user-tie"></span><span class="ms-2 text-gray">Full Time</span></span>
                            </div>
                        </div>
                        <div class="card-body px-2 px-md-4 pt-0">
                            <p class="mb-4">
                                Integration of user-facing elements developed by a Themesberg-end developers with server side logic
                            </p> 
                            <div class="d-flex">
                                <a href="/page-career-single.html#apply" class="btn btn-sm btn-tertiary me-3 animate-up-2 px-3">Apply Now</a>
                                <a href="/page-career-single.html" class="btn btn-sm btn-primary animate-up-2 px-3"><i class="fas fa-clipboard-list me-2"></i>See Details</a>                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4 mb-4">
                    <div class="card bg-white border-gray-300 p-3">
                        <div class="card-header bg-white border-0 p-3 p-md-4">
                            <h3 class="mb-3 h4">Account Manager</h3>
                            <div class="d-flex small">
                                <a href="/page-career-single.html" class="text-gray"><span class="icon-primary"><i class="fas fa-map-marker-alt"></i></span><span class="ms-2">Boston, MS</span></a>
                                <span class="icon-primary ms-4"><span class="fas fa-user-tie"></span><span class="ms-2 text-gray">Full Time</span></span>
                            </div>
                        </div>
                        <div class="card-body px-2 px-md-4 pt-0">
                            <p class="mb-4">
                                Integration of user-facing elements developed by a Themesberg-end developers with server side logic
                            </p> 
                            <div class="d-flex">
                                <a href="/page-career-single.html#apply" class="btn btn-sm btn-tertiary me-3 animate-up-2 px-3">Apply Now</a>
                                <a href="/page-career-single.html" class="btn btn-sm btn-primary animate-up-2 px-3"><span class="fas fa-clipboard-list me-2"></span>See Details</a>                
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-xl-4 mb-4">
                    <div class="card bg-white border-gray-300 p-3">
                        <div class="card-header bg-white border-0 p-3 p-md-4">
                            <h3 class="mb-3 h4">PR Specialist</h3>
                            <div class="d-flex small">
                                <a href="/page-career-single.html" class="text-gray"><span class="icon-primary"><span class="fas fa-map-marker-alt"></span></span><span class="ms-2">London, UK</span></a>
                                <span class="icon-primary ms-4"><span class="fas fa-user-tie"></span><span class="ms-2 text-gray">Full Time</span></span>
                            </div>
                        </div>
                        <div class="card-body px-2 px-md-4 pt-0">
                            <p class="mb-4">
                                Help maintain Baianat image, voice, identity and presence through online and offline channels.
                            </p> 
                            <div class="d-flex">
                                <a href="/page-career-single.html#apply" class="btn btn-sm btn-tertiary me-3 animate-up-2 px-3">Apply Now</a>
                                <a href="/page-career-single.html" class="btn btn-sm btn-primary animate-up-2 px-3"><span class="fas fa-clipboard-list me-2"></span>See Details</a>                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
