{% extends "layouts/base.html" %}

{% block title %} Profile {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-light navbar-transparent navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <div class="section-header section-image bg-white pb-0">
        <div class="container z-2">
            <div class="row my-5 justify-content-center text-center">
                <div class="col-lg-8">
                    <img src="/static/assets/img/team/profile-picture-1.jpg" class="rounded-circle img-thumbnail image-lg border-secondary p-2" alt="Joseph Avatar">
                    <h1 class="my-4">Joseph Garth</h1>
                    <h2 class="h5 fw-normal text-gray mb-4"><span class="fas fa-map-marker-alt me-2"></span>New York, USA
                    </h2>
                    <ul class="list-unstyled d-flex justify-content-center mt-3 mb-0">
                        <li>
                            <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-sm text-facebook me-3">
                                <span class="fab fa-facebook-f"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-sm text-twitter me-3">
                                <span class="fab fa-twitter"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" aria-label="slack social link" class="icon icon-sm text-slack me-3">
                                <span class="fab fa-slack-hash"></span>
                            </a>
                        </li>
                        <li>
                            <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-sm text-dribbble">
                                <span class="fab fa-dribbble"></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Hero section -->
    <!-- Section -->
    <div class="section section-md pt-0">
        <div class="container">
            <div class="row justify-content-center mt-6">
                <div class="col-md-12 col-lg-8">
                    <div class="timeline timeline-one">
                        <!-- Timeline Item 1 -->
                        <div class="timeline-item">
                            <span class="text-gray">Year 2019</span>
                            <h3 class="h4 my-2">Present</h3>
                            <p>Now over seven years old, Bootstrap is an established and widely-used HTML, CSS, and JavaScript framework. It can be used as a basis for creating responsive web and mobile sites and web applications.</p>
                            <img class="mt-2" src="/static/assets/img/signature.svg" alt="signature" width="100">
                        </div>
                        <!-- Timeline Item 2 -->
                        <div class="timeline-item">
                            <span class="text-gray">2018-2019</span>
                            <h3 class="h4 my-2">What i learned in my first year </h3>
                            <div class="my-4">
                                <span class="icon icon-sm text-purple me-2"><span class="fab fa-bootstrap"></span></span>
                                <span class="icon icon-sm text-info me-2"><span class="fab fa-react"></span></span>
                                <span class="icon icon-sm text-success me-2"><span class="fab fa-vuejs"></span></span>
                                <span class="icon icon-sm text-danger"><span class="fab fa-angular"></span></span>
                            </div>
                            <p>Bootstrap. Build responsive, mobile-first projects on the web with the world's most popular front-end component library. Bootstrap is an open source toolkit for developing with HTML, CSS, and JS. Quickly prototype your
                                ideas.
                            </p>
                        </div>
                        <!-- Timeline Item 3 -->
                        <div class="timeline-item">
                            <span class="text-gray">2015-2018</span>
                            <h3 class="h4 my-2">University</h3>
                            <img src="/static/assets/img/clients/northwestern.svg" class="image-xs my-4" alt="Northwestern logo">
                            <p class="fw-bolder">BS in Computer Science</p>
                            <p>The Bachelor of Computer Science is a type of bachelor's degree, usually awarded after three or four years of collegiate study in computer science, but possibly awarded in fewer years depending on factors such as an institution's
                                course requirements and academic calendar. </p>
                        </div>
                        <!-- Timeline Item 4 -->
                        <div class="timeline-item">
                            <span class="text-gray">2010-2015</span>
                            <h3 class="h4 my-2">High school</h3>
                            <img src="/static/assets/img/clients/business-school.svg" class="image-xs my-4" alt="School logo">
                            <p>High school is a term primarily used in the United States and Canada to describe the level of education students receive from approximately 13 to 18 years old, although there is some variation.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of section -->
    <div class="section section-lg bg-gray-200">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <!-- List Group -->
                    <ul class="list-group list-group-transparent list-group-flush list-group-borderless mb-0">
                        <li class="list-group-item rounded-0 py-4">
                            <div class="d-flex">
                                <span class="icon icon-sm me-3 d-none d-xl-inline lh-200"><span class="fas fa-globe-europe"></span></span>
                                <div class="media-body d-block">
                                    <span class="h5">Language:</span>
                                    <div class="text-gray mt-2">English, French, German, Romanian</div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item rounded-0 py-4">
                            <div class="d-flex">
                                <span class="icon icon-sm me-3 d-none d-xl-inline lh-200"><span class="fas fa-fill-drip"></span></span>
                                <div class="media-body d-block">
                                    <span class="h5">Skills:</span>
                                    <div class="text-gray mt-2">                                        
                                        <a href="#">UI,</a>
                                        <a href="#">UX,</a>
                                        <a href="#">Photoshop</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item rounded-0 py-4">
                            <div class="d-flex">
                                <span class="icon icon-sm me-3 d-none d-xl-inline lh-200"><span class="fas fa-code-branch"></span></span>
                                <div class="media-body d-block">
                                    <span class="h5">Technologies:</span>
                                    <div class="text-gray mt-2">                                        
                                        <a href="#">Angular,</a>
                                        <a href="#">VueJs,</a>
                                        <a href="#">React,</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <!-- End List Group -->
                </div>
                <div class="col-md-6 col-lg-4">
                    <!-- List Group -->
                    <ul class="list-group list-group-transparent list-group-flush list-group-borderless mb-0">
                        <li class="list-group-item rounded-0 py-4">
                            <div class="d-flex">
                                <span class="icon icon-sm me-3 d-none d-xl-inline lh-200"><span class="fas fa-birthday-cake"></span></span>
                                <div class="media-body d-block">
                                    <span class="h5">Birthday:</span>
                                    <div class="text-gray mt-2">                                        
                                        May 3, 1990
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item rounded-0 py-4">
                            <div class="d-flex">
                                <span class="icon icon-sm me-3 d-none d-xl-inline lh-200"><span class="fas fa-briefcase"></span></span>
                                <div class="media-body d-block">
                                    <span class="h5">Organizations:</span>
                                    <div class="text-gray mt-2">                                        
                                        <a href="#">Crafty Dwarf LLC,</a>
                                        <a href="#">Flow UI LLC</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li class="list-group-item rounded-0 py-4">    
                            <div class="d-flex">
                                <span class="icon icon-sm me-3 d-none d-xl-inline lh-200"><span class="fas fa-globe"></span></span>
                                <div class="media-body d-block">
                                    <span class="h5">Online:</span>
                                    <div class="text-gray mt-2">                                        
                                        <a href="#">Themesberg,</a>
                                        <a href="#">Dribbble</a>
                                    </div>
                                </div>
                            </div>                            
                        </li>
                    </ul>
                    <!-- End List Group -->
                </div>
                <div class="col-md-6 col-lg-4">
                    <!-- List Group -->
                    <ul class="list-group list-group-transparent list-group-flush border-0 mb-0">
                        <li class="list-group-item rounded-0 py-4">
                            <div class="d-flex">
                                <span class="icon icon-sm me-3 d-none d-xl-inline lh-200"><span class="far fa-paper-plane"></span></span>
                                <div class="media-body d-block">
                                    <span class="h5">Email:</span>
                                    <div class="text-gray mt-2">                                        
                                        <a href="#">support@company.io</a>
                                    </div>
                                </div>
                            </div> 
                        </li>
                        <li class="list-group-item rounded-0 py-4">
                            <div class="d-flex">
                                <span class="icon icon-sm me-3 d-none d-xl-inline lh-200"><span class="fas fa-mobile-alt"></span></span>
                                <div class="media-body d-block">
                                    <span class="h5">Phone number:</span>
                                    <div class="text-gray mt-2">                                        
                                        +(123) 456 7890
                                    </div>
                                </div>
                            </div> 
                        </li>
                        <li class="list-group-item rounded-0 py-4">
                            <div class="d-flex">
                                <span class="icon icon-sm me-3 d-none d-xl-inline lh-200"><span class="fas fa-map-pin"></span></span>
                                <div class="media-body d-block">
                                    <span class="h5">Location:</span>
                                    <div class="text-gray mt-2">                                        
                                        New York, USA
                                    </div>
                                </div>
                            </div> 
                        </li>
                    </ul>
                    <!-- End List Group -->
                </div>
            </div>
        </div>
    </div>
    <div class="section section-lg">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 text-center mb-4">
                    <h2>Want to work with me?</h2>
                    <p>Cool! Let’s talk about your project</p>
                </div>
                <div class="col-12 col-lg-8">
                    <form action="#">
                        <!-- Form -->
                        <div class="mb-4">
                            <label for="name">Your Name</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon3"><span class="fas fa-user-circle"></span></span>
                                <input type="text" class="form-control" placeholder="e.g. Bonnie Green" id="name" required>
                            </div>
                        </div>
                        <!-- End of Form -->
                        <!-- Form -->
                        <div class="mb-4">
                            <label for="email">Your Email</label>
                            <div class="input-group">
                                <span class="input-group-text" id="basic-addon4"><span class="fas fa-envelope"></span></span>
                                <input type="email" class="form-control" placeholder="example@company.com" id="email" required>
                            </div>
                        </div>
                        <!-- End of Form -->
                        <div class="mb-4">
                            <label for="message">Your Message</label>
                            <textarea placeholder="Your message" class="form-control" id="message" rows="4" required></textarea>
                        </div>
                        <!-- End of Form -->
                        <div class="d-grid">
                            <button type="submit" class="btn rounded btn-secondary">Send message</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
