{% extends "layouts/base.html" %}

{% block title %} Pricing {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block nav_style %} navbar-dark navbar-theme-secondary {% endblock nav_style %}

{% block content %}

    <!-- Hero -->
    <section class="section section-header pb-10 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8 col-xl-8 text-center">
                    <h1 class="display-2 fw-light mb-4">Our <span class="fw-bold">Pricing</span>
                    </h1>
                    <p class="lead">Like our products, our pricing isn’t one-size-fits-all. We calculate your personalized quote by looking at your specific needs.</p>
                </div>
            </div>
        </div>
    </section>
    <!-- Section -->
    <div class="section section-lg pt-0">
        <div class="container">
            <div class="row mt-n9">
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card shadow border-gray-300 text-center py-4">
                        <!-- Header -->
                        <div class="card-header border-0 bg-white p-3">
                            <h2 class="h3 text-primary mb-4">Starter</h2>
                            <span class="d-block">
                                <span class="display-2 text-dark fw-bold">
                                    <span class="align-top font-medium">$</span>19
                            </span>
                            <span class="d-block text-gray font-small">/ month</span>
                            </span>
                        </div>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">
                            <ul class="list-unstyled mb-4">
                                <li class="list-item pb-3"><strong>1</strong> free domains</li>
                                <li class="list-item pb-3">Storage space: <strong>5GB</strong></li>
                                <li class="list-item pb-3"><strong>100k</strong> monthly visitors</li>
                                <li class="list-item pb-3">One-click staging site</li>
                                <li class="list-item pb-3">Search engine wizard </li>
                                <li class="list-item pb-3">Community support</li>
                            </ul>
                            <div class="d-grid">
                                <a href="#" class="btn btn-primary">Buy Starter</a>
                            </div>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4 mb-5 mb-lg-0">
                    <div class="card shadow border-gray-300 text-center py-4">
                        <!-- Header -->
                        <div class="card-header border-0 bg-white p-3">
                            <h2 class="h3 text-primary mb-4">Standard</h2>
                            <span class="d-block">
                                <span class="display-2 text-tertiary fw-bold">
                                    <span class="align-top font-medium">$</span>49
                            </span>
                            <span class="d-block text-gray font-small">/ month</span>
                            </span>
                        </div>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">
                            <ul class="list-unstyled mb-4">
                                <li class="list-item pb-3"><strong>5</strong> free domain</li>
                                <li class="list-item pb-3">Storage space: <strong>15GB</strong></li>
                                <li class="list-item pb-3"><strong>400k</strong> monthly visitors</li>
                                <li class="list-item pb-3">One-click staging site</li>
                                <li class="list-item pb-3">Search engine wizard </li>
                                <li class="list-item pb-3">Community support</li>
                            </ul>
                            <div class="d-grid">
                                <a href="#" class="btn btn-tertiary">Buy Standard</a>
                            </div>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <div class="card shadow border-gray-300 text-center py-4">
                        <!-- Header -->
                        <div class="card-header border-0 bg-white p-3">
                            <h2 class="h3 text-primary mb-4">Pro</h2>
                            <span class="d-block">
                                <span class="display-2 text-dark fw-bold">
                                    <span class="align-top font-medium">$</span>199
                            </span>
                            <span class="d-block text-gray font-small">/ month</span>
                            </span>
                        </div>
                        <!-- End Header -->
                        <!-- Content -->
                        <div class="card-body">
                            <ul class="list-unstyled mb-4">
                                <li class="list-item pb-3"><strong>10</strong> free domains</li>
                                <li class="list-item pb-3">Storage space: <strong>UNLIMITED</strong></li>
                                <li class="list-item pb-3"><strong>10M</strong> monthly visitors</li>
                                <li class="list-item pb-3">One-click staging site</li>
                                <li class="list-item pb-3">Search engine wizard </li>
                                <li class="list-item pb-3">Community support</li>
                            </ul>
                            <div class="d-grid">
                                <a href="#" class="btn btn-primary">Buy Pro</a>
                            </div>
                        </div>
                        <!-- End Content -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Section -->
    <section class="section section-lg pt-0">
        <div class="container text-center">
            <div class="row justify-content-center mb-5 mb-md-7">
                <div class="col-12 col-md-8 text-center">
                    <h2>What's in the box?</h2>
                    <p class="lead">Houndred of developers around the world have already made Pixel the main tool for building websites.</p>
                </div>
            </div>
            <div class="row align-items-center justify-content-around">
                <div class="col-12 col-lg-4">
                    <!-- Icon Box -->
                    <div class="icon-box text-center mb-5">
                        <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                            <span class="far fa-lightbulb"></span>
                        </div>
                        <h3 class="h5">Ideas and Concepts</h3>
                        <p class="icon-box-text">We work to figure out ways to help your business grow through all platforms.
                        </p>
                        <a href="#" class="btn btn-white btn-sm border-gray-300">Learn more</a>
                    </div>
                    <!-- End of Icon Box -->
                    <!-- Icon Box -->
                    <div class="icon-box text-center mb-5 mb-lg-0">
                        <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                            <span class="fas fa-fingerprint"></span>
                        </div>
                        <h3 class="h5">New technologies</h3>
                        <p class="icon-box-text">We work to figure out ways to help your business grow through all platforms.
                        </p>
                        <a href="#" class="btn btn-white btn-sm border-gray-300">Learn more</a>
                    </div>
                    <!-- End of Icon Box -->
                </div>
                <div class="col-md-6 col-lg-4">
                    <!-- Illustration -->
                    <img class="d-none d-lg-block" src="/static/assets/img/illustrations/feature.svg" alt="illustration">
                    <!-- / Illustration -->
                </div>
                <div class="col-12 col-lg-4">
                    <!-- Icon Box -->
                    <div class="icon-box text-center mb-5">
                        <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                            <span class="fas fa-code"></span>
                        </div>
                        <h3 class="h5">Powerful code</h3>
                        <p class="icon-box-text">We work to figure out ways to help your business grow through all platforms.
                        </p>
                        <a href="#" class="btn btn-white btn-sm border-gray-300">Learn more</a>
                    </div>
                    <!-- End of Icon Box -->
                    <!-- Icon Box -->
                    <div class="icon-box text-center mb-5 mb-lg-0">
                        <div class="icon icon-shape icon-shape-secondary rounded-circle mb-4">
                            <span class="far fa-grin-stars"></span>
                        </div>
                        <h3 class="h5">Creative peoples</h3>
                        <p class="icon-box-text">We work to figure out ways to help your business grow through all platforms.
                        </p>
                        <a href="#" class="btn btn-white btn-sm border-gray-300">Learn more</a>
                    </div>
                    <!-- End of Icon Box -->
                </div>
            </div>
        </div>
    </section>
    <!-- Section -->
    <section class="section section-lg pt-0">
        <div class="container text-center">
            <div class="row mb-5">
                <div class="col">
                    <h2 class="h4 fw-light">Trusted by over <span class="fw-bold">500</span> of the world’s valuable brands</h2>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-10 col-lx-10">
                    <ul class="d-flex flex-wrap justify-content-center list-unstyled">
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="/static/assets/img/clients/airbnb.svg" alt="airbnb logo">
                        </li>
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="/static/assets/img/clients/paypal.svg" alt="paypal logo">
                        </li>
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="/static/assets/img/clients/corsair.svg" alt="corsair logo">
                        </li>
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="/static/assets/img/clients/google.svg" alt="google logo">
                        </li>
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="/static/assets/img/clients/elastic.svg" alt="elastic logo">

                        </li>
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="/static/assets/img/clients/forbes.svg" alt="forbes logo">
                        </li>
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="/static/assets/img/clients/pinterest.svg" alt="pinterest logo">
                        </li>
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="/static/assets/img/clients/docker.svg" alt="docker logo">
                        </li>
                        <li class="mx-3 mb-5">
                            <img class="image-fluid image-sm" src="/static/assets/img/clients/university-of-chicago.svg" alt="university logo">
                        </li>
                        <li class="mx-3 mb-5 mb-md-0">
                            <img class="image-fluid image-sm" src="/static/assets/img/clients/business-school.svg" alt="business logo">
                        </li>
                        <li class="mx-3 mb-5 mb-md-0">
                            <img class="image-fluid image-sm" src="/static/assets/img/clients/ebay.svg" alt="ebay logo">
                        </li>
                        <li class="mx-3 mb-5 mb-md-0">
                            <img class="image-fluid image-sm" src="/static/assets/img/clients/northwestern.svg" alt="northwestern logo">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <section class="section section-md bg-gray-200">
        <div class="container">
            <div class="row text-center justify-content-center">
                <div class="col-md-8 mb-5">
                    <h2>Frequently asked questions</h2>
                    <p class="lead">Find the answer to your question.</p>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <!--Accordion-->
                    <div class="accordion bg-white rounded" id="accordionExample1">
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingOne">
                                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    What is the purpose of a FAQ?
                                </button>
                            </h2>
                            <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                <strong>This is the first item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingTwo">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                    What is a FAQ document?
                                </button>
                            </h2>
                            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                        <div class="accordion-item">
                            <h2 class="accordion-header" id="headingThree">
                                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                    What are the top 10 interview questions?
                                </button>
                            </h2>
                            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample1">
                                <div class="accordion-body">
                                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
                                </div>
                            </div>
                        </div>
                    </div>
                    <!--End of Accordion-->
                </div>
            </div>
        </div>
    </section>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
