{% extends "layouts/base.html" %}

{% block title %} UI GlideJS Carousels {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Hero -->
    <div class="section-header pb-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-3 mb-4">GlideJS Carousels</h1>
                    <p class="lead mb-5">Glide.js is a dependency-free JavaScript ES6 slider and carousel. It’s lightweight, flexible and fast.</p>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Hero -->
    
    <!-- Section -->
    <div class="section section-lg">
        <div class="container">
            <!-- Section title-->
            <div class="row">
                <div class="col-md-4">
                    <div class="mb-5">
                        <span class="h5">GlideJS Carousels</span>
                    </div>
                </div>
            </div>
            <!--End section title-->
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="glide">
                        <div data-glide-el="track" class="glide__track">
                        <ul class="glide__slides">
                            <li class="glide__slide">
                                <div class="card border-gray-300">
                                    <img src="/static/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-top" alt="Bonnie portrait">
                                    <div class="card-body">
                                        <h2 class="h5 card-title mb-2">Bonnie Green</h2>
                                        <span class="card-subtitle text-gray fw-normal">Web publications designer</span>
                                        <p class="card-text my-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <ul class="list-unstyled d-flex mt-3 mb-0">
                                            <li>
                                                <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook me-3">
                                                    <span class="fab fa-facebook-f"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter me-3">
                                                    <span class="fab fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack me-3">
                                                    <span class="fab fa-slack-hash"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble me-3">
                                                    <span class="fab fa-dribbble"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="glide__slide">
                                <div class="card border-gray-300">
                                    <img src="/static/assets/img/team/profile-picture-1.jpg" class="card-img-top rounded-top" alt="Neil portrait">
                                    <div class="card-body">
                                        <h2 class="h5 card-title mb-2">Neil Sims</h2>
                                        <span class="card-subtitle text-gray fw-normal">Web Developer</span>
                                        <p class="card-text my-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <ul class="list-unstyled d-flex mt-3 mb-0">
                                            <li>
                                                <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook me-3">
                                                    <span class="fab fa-facebook-f"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter me-3">
                                                    <span class="fab fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack me-3">
                                                    <span class="fab fa-slack-hash"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble me-3">
                                                    <span class="fab fa-dribbble"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="glide__slide">
                                <div class="card border-gray-300">
                                    <img src="/static/assets/img/team/profile-picture-2.jpg" class="card-img-top rounded-top" alt="Jose portrait">
                                    <div class="card-body">
                                        <h2 class="h5 card-title mb-2">Jose Leos</h2>
                                        <span class="card-subtitle text-gray fw-normal">React Native Developer</span>
                                        <p class="card-text my-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <ul class="list-unstyled d-flex mt-3 mb-0">
                                            <li>
                                                <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook me-3">
                                                    <span class="fab fa-facebook-f"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter me-3">
                                                    <span class="fab fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack me-3">
                                                    <span class="fab fa-slack-hash"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble me-3">
                                                    <span class="fab fa-dribbble"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="glide__slide">
                                <div class="card border-gray-300">
                                    <img src="/static/assets/img/team/profile-picture-4.jpg" class="card-img-top rounded-top" alt="Joseph portrait">
                                    <div class="card-body">
                                        <h2 class="h5 card-title mb-2">Joseph Garth</h2>
                                        <span class="card-subtitle text-gray fw-normal">Director</span>
                                        <p class="card-text my-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <ul class="list-unstyled d-flex mt-3 mb-0">
                                            <li>
                                                <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook me-3">
                                                    <span class="fab fa-facebook-f"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter me-3">
                                                    <span class="fab fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack me-3">
                                                    <span class="fab fa-slack-hash"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble me-3">
                                                    <span class="fab fa-dribbble"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="glide__slide">
                                <div class="card border-gray-300">
                                    <img src="/static/assets/img/team/profile-picture-6.jpg" class="card-img-top rounded-top" alt="Patricia portrait">
                                    <div class="card-body">
                                        <h2 class="h5 card-title mb-2">Patricia Patel</h2>
                                        <span class="card-subtitle text-gray fw-normal">Web publications designer</span>
                                        <p class="card-text my-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <ul class="list-unstyled d-flex mt-3 mb-0">
                                            <li>
                                                <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook me-3">
                                                    <span class="fab fa-facebook-f"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter me-3">
                                                    <span class="fab fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack me-3">
                                                    <span class="fab fa-slack-hash"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble me-3">
                                                    <span class="fab fa-dribbble"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Section title-->
            <div class="row">
                <div class="col-md-4">
                    <div class="my-5">
                        <span class="h5">Autoplay Carousel</span>
                    </div>
                </div>
            </div>
            <!--End section title-->
            <div class="row mt-4">
                <div class="col-md-12">
                    <div class="glide-autoplay">
                        <div data-glide-el="track" class="glide__track">
                        <ul class="glide__slides">
                            <li class="glide__slide">
                                <div class="card border-gray-300">
                                    <img src="/static/assets/img/team/profile-picture-3.jpg" class="card-img-top rounded-top" alt="Bonnie portrait">
                                    <div class="card-body">
                                        <h2 class="h5 card-title mb-2">Bonnie Green</h2>
                                        <span class="card-subtitle text-gray fw-normal">Web publications designer</span>
                                        <p class="card-text my-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <ul class="list-unstyled d-flex mt-3 mb-0">
                                            <li>
                                                <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook me-3">
                                                    <span class="fab fa-facebook-f"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter me-3">
                                                    <span class="fab fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack me-3">
                                                    <span class="fab fa-slack-hash"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble me-3">
                                                    <span class="fab fa-dribbble"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="glide__slide">
                                <div class="card border-gray-300">
                                    <img src="/static/assets/img/team/profile-picture-1.jpg" class="card-img-top rounded-top" alt="Neil portrait">
                                    <div class="card-body">
                                        <h2 class="h5 card-title mb-2">Neil Sims</h2>
                                        <span class="card-subtitle text-gray fw-normal">Web Developer</span>
                                        <p class="card-text my-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <ul class="list-unstyled d-flex mt-3 mb-0">
                                            <li>
                                                <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook me-3">
                                                    <span class="fab fa-facebook-f"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter me-3">
                                                    <span class="fab fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack me-3">
                                                    <span class="fab fa-slack-hash"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble me-3">
                                                    <span class="fab fa-dribbble"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="glide__slide">
                                <div class="card border-gray-300">
                                    <img src="/static/assets/img/team/profile-picture-2.jpg" class="card-img-top rounded-top" alt="Jose portrait">
                                    <div class="card-body">
                                        <h2 class="h5 card-title mb-2">Jose Leos</h2>
                                        <span class="card-subtitle text-gray fw-normal">React Native Developer</span>
                                        <p class="card-text my-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <ul class="list-unstyled d-flex mt-3 mb-0">
                                            <li>
                                                <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook me-3">
                                                    <span class="fab fa-facebook-f"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter me-3">
                                                    <span class="fab fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack me-3">
                                                    <span class="fab fa-slack-hash"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble me-3">
                                                    <span class="fab fa-dribbble"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="glide__slide">
                                <div class="card border-gray-300">
                                    <img src="/static/assets/img/team/profile-picture-4.jpg" class="card-img-top rounded-top" alt="Joseph portrait">
                                    <div class="card-body">
                                        <h2 class="h5 card-title mb-2">Joseph Garth</h2>
                                        <span class="card-subtitle text-gray fw-normal">Director</span>
                                        <p class="card-text my-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <ul class="list-unstyled d-flex mt-3 mb-0">
                                            <li>
                                                <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook me-3">
                                                    <span class="fab fa-facebook-f"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter me-3">
                                                    <span class="fab fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack me-3">
                                                    <span class="fab fa-slack-hash"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble me-3">
                                                    <span class="fab fa-dribbble"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                            <li class="glide__slide">
                                <div class="card border-gray-300">
                                    <img src="/static/assets/img/team/profile-picture-6.jpg" class="card-img-top rounded-top" alt="Patricia portrait">
                                    <div class="card-body">
                                        <h2 class="h5 card-title mb-2">Patricia Patel</h2>
                                        <span class="card-subtitle text-gray fw-normal">Web publications designer</span>
                                        <p class="card-text my-3">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                                        <ul class="list-unstyled d-flex mt-3 mb-0">
                                            <li>
                                                <a href="#" target="_blank" aria-label="facebook social link" class="icon icon-xs icon-facebook me-3">
                                                    <span class="fab fa-facebook-f"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="twitter social link" class="icon icon-xs icon-twitter me-3">
                                                    <span class="fab fa-twitter"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="slack social link" class="icon icon-xs icon-slack me-3">
                                                    <span class="fab fa-slack-hash"></span>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#" target="_blank" aria-label="dribbble social link" class="icon icon-xs icon-dribbble me-3">
                                                    <span class="fab fa-dribbble"></span>
                                                </a>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </li>
                        </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Section -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
