{% extends "layouts/base.html" %}

{% block title %} UI Icon Boxes {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Hero -->
    <div class="section-header pb-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-3 mb-4">Icon Box</h1>
                    <p class="lead mb-5"><strong>Icon box</strong> are a great addition to pages for listing key unique selling points, or to highlight your website’s main areas of content.</p>
                    <div class="alert bg-secondary" role="alert">
                        <span class="fas fa-info-circle"></span>
                        <a class="fw-bold text-white text-underline mx-1" href="https://themesberg.com/docs/pixel-bootstrap/components/icon-boxes/" target="_blank">See our Documentation</a> for a detailed technical explanation.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Hero -->
    
    <!-- Section -->
    <div class="section section-lg">
        <div class="container">
            <div class="row">
                <div class="col-12 col-sm-4 col-lg-3 text-center mb-4 mb-lg-0">
                    <!-- Icon box -->
                    <div class="icon icon-shape icon-shape-secondary rounded-circle">
                        <span class="far fa-lightbulb"></span>
                    </div>
                    <h2 class="h5 my-3">Round Shape</h2>
                    <!-- End of Icon box -->
                </div>
                <div class="col-12 col-sm-4 col-lg-3 text-center mb-4 mb-lg-0">
                    <!-- Icon box -->
                    <div class="icon icon-shape icon-shape-secondary">
                        <span class="fas fa-bomb"></span>
                    </div>
                    <h2 class="h5 my-3">Square Shape</h2>
                    <!-- End of Icon box -->
                </div>
                <div class="col-12 col-sm-4 col-lg-3 text-center mb-4 mb-lg-0">
                    <!-- Icon box -->
                    <div class="icon icon-shape icon-shape-secondary organic-radius">
                        <span class="far fa-dizzy"></span>
                    </div>
                    <h2 class="h5 my-3">Organic Shape</h2>
                    <!-- End of Icon box -->
                </div>
                <div class="col-12 col-sm-4 col-lg-3 text-center mb-4 mb-lg-0">
                    <!-- Icon box -->
                    <div class="icon icon-primary">
                        <span class="fas fa-burn"></span>
                    </div>
                    <h3 class="h5 my-3">Simple Icon</h3>
                    <!-- End of Icon box -->
                </div>
            </div>
            <!-- Title -->
            <div class="row mt-7 mb-5">
                <div class="col-md-4">
                    <h2 class="h5">Choose your size</h2>
                </div>
            </div>
            <!--End of Title-->
            <div class="row">
                <div class="col-12 col-sm-4 col-lg-3 mb-4 mb-lg-0">
                    <div class="icon icon-shape icon-lg icon-shape-secondary">
                        <span class="fas fa-globe-europe"></span>
                    </div>
                    <h2 class="h5 my-3">Icon Large</h2>
                </div>
                <div class="col-12 col-sm-4 col-lg-3 mb-4 mb-lg-0">
                    <div class="icon icon-shape icon-shape-secondary">
                        <span class="fas fa-globe-europe"></span>
                    </div>
                    <h2 class="h5 my-3">Default Icon</h2>
                </div>
                <div class="col-12 col-sm-4 col-lg-3 mb-4 mb-lg-0">
                    <div class="icon icon-shape icon-sm icon-shape-secondary">
                        <span class="fas fa-globe-europe"></span>
                    </div>
                    <h2 class="h5 my-3">Icon Small</h2>
                </div>
            </div>
            <!-- Title -->
            <div class="row mt-7 mb-5">
                <div class="col-md-4">
                    <h2 class="h5">Side Icons</h2>
                </div>
            </div>
            <!--End of Title-->
            <div class="row">
                <div class="col-12 col-md-4 mb-4 mb-lg-0">
                    <div class="d-flex px-3">
                        <div>
                            <div class="icon icon-sm icon-secondary">
                                <span class="fas fa-chess-rook"></span>
                            </div>
                        </div>
                        <div class="ps-4">
                            <h3 class="h5">Left Icon</h3>
                            <p>Designed with the latest design trends in mind. Our product feels modern, creative, and beautiful.</p>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-md-4 mb-4 mb-lg-0">
                    <div class="d-flex px-3">
                        <div class="me-4 text-right">
                            <h3 class="h5">Right Icon</h3>
                            <p>Designed with the latest design trends in mind. Our product feels modern, creative, and beautiful.</p>
                        </div>
                        <div>
                            <div class="icon icon-sm icon-secondary">
                                <span class="fas fa-chess-rook"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Title -->
            <div class="row mt-7 mb-5">
                <div class="col-md-4">
                    <h2 class="h5">Card Icons</h2>
                </div>
            </div>
            <!--End of Title-->
            <div class="row mb-5">
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Icon box -->
                    <div class="card shadow p-1 p-md-4 mb-4 mb-lg-0">
                        <div class="card-body">
                            <div class="icon icon-shape icon-shape-primary rounded-circle mb-4">
                                <span class="far fa-lightbulb"></span>
                            </div>
                            <h3 class="h5 mb-3">Ideas and Concepts</h3>
                            <p>Designed with the latest design trends in mind. Our product feels modern, creative, and beautiful.</p>
                            <a href="#" class="btn btn-sm btn-primary animate-up-1">Learn more</a>
                        </div>
                    </div>
                    <!-- End of Icon box -->
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Icon box -->
                    <div class="card shadow p-1 p-md-4 mb-4 mb-lg-0">
                        <div class="card-body">
                            <div class="icon icon-shape icon-shape-primary rounded mb-4">
                                <span class="fas fa-chess-queen"></span>
                            </div>
                            <h3 class="h5 mb-3">Powerful Techniques</h3>
                            <p>Designed with the latest design trends in mind. Our product feels modern, creative, and beautiful.</p>
                            <a href="#" class="btn btn-sm btn-primary animate-up-1">Learn more</a>
                        </div>
                    </div>
                    <!-- End of Icon box -->
                </div>
                <div class="col-12 col-md-6 col-lg-4">
                    <!-- Icon box -->
                    <div class="card shadow p-1 p-md-4 mb-4 mb-lg-0">
                        <div class="card-body">
                            <div class="icon icon-shape icon-shape-primary organic-radius mb-4">
                                <span class="fas fa-smile-beam"></span>
                            </div>
                            <h3 class="h5 mb-3">100% Satisfaction</h3>
                            <p>Designed with the latest design trends in mind. Our product feels modern, creative, and beautiful.</p>
                            <a href="#" class="btn btn-sm btn-primary animate-up-1">Learn more</a>
                        </div>
                    </div>
                    <!-- End of Icon box -->
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-lg-6">
                    <div class="card shadow text-start p-1 p-md-4 mb-4 mb-lg-0">
                        <div class="card-body">
                        <div class="d-flex px-1 px-md-3">
                            <div>
                                <div class="icon icon-primary"><span class="far fa-grin-stars"></span></div>
                            </div>
                            <div class="ps-2 ps-md-3">
                                <h3 class="h5">100% Satisfaction</h3>
                                <p>Designed with the latest design trends in mind. Our product feels modern, creative, and beautiful.</p>
                                <a href="#" class="btn btn-sm btn-primary">Learn more</a>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-6">
                    <div class="card shadow text-end p-1 p-md-4 mb-4 mb-lg-0">
                        <div class="card-body">
                        <div class="d-flex px-1 px-md-3">
                            <div class="me-2 me-md-4">
                                <h3 class="h5">100% Satisfaction</h3>
                                <p>Designed with the latest design trends in mind. Our product feels modern, creative.</p>
                                <a href="#" class="btn btn-sm btn-primary">Learn more</a>
                            </div>
                            <div>
                                <div class="icon icon-primary"><span class="far fa-grin-stars"></span></div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Section -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
