{% extends "layouts/base.html" %}

{% block title %} UI Steps {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

    <!-- Hero -->
    <div class="section-header pb-6 bg-primary text-white">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-md-8 text-center">
                    <h1 class="display-3 mb-4">Steps</h1>
                    <p class="lead mb-5">Use Pixel's custom steps elements to show a list of features or any other information.</p>
                    <div class="alert bg-secondary" role="alert">
                        <span class="fas fa-info-circle"></span>
                        <a class="fw-bold text-white text-underline mx-1" href="https://themesberg.com/docs/pixel-bootstrap/components/icon-boxes/#steps" target="_blank">See our Documentation</a> for a detailed technical explanation.
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End of Hero -->
    
    <!-- Section -->
    <div class="section section-lg">
        <div class="container">
            <!-- Title  -->
            <div class="row">
                <div class="col text-center">
                    <div class="mb-6">
                        <span class="h5">Round Shape</span>
                    </div>
                </div>
            </div>
            <!--End of Title -->
            <div class="row mt-4">
                <div class="col-12 col-sm-6 col-md-4">
                    <!-- Step -->
                    <div class="step text-center">
                        <div class="step-shape shape-gray-300 rounded-circle mb-4">
                            <span class="step-number text-primary rounded-circle border-white">1</span>
                            <span class="step-icon icon-primary"><span class="fas fa-bullseye"></span></span>
                        </div>
                        <h2 class="h5 step-title">Goal identification</h2>
                        <p>Where I work with the client to determine what goals the site needs.</p>
                    </div>
                    <!-- End of Step -->
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <!-- Step -->
                    <div class="step text-center">
                        <div class="step-shape shape-gray-300 rounded-circle mb-4">
                            <span class="step-number text-primary rounded-circle border-white">2</span>
                            <span class="step-icon icon-primary"><span class="fas fa-code-branch"></span></span>
                        </div>
                        <h2 class="h5 step-title">Content creation</h2>
                        <p>Now that we have a bigger picture of the site in mind, we can start.</p>
                    </div>
                    <!-- End of Step -->
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <!-- Step -->
                    <div class="step text-center">
                        <div class="step-shape shape-gray-300 rounded-circle mb-4">
                            <span class="step-number text-primary rounded-circle border-white">3</span>
                            <span class="step-icon icon-primary"><span class="fas fa-award"></span></span>
                        </div>
                        <h2 class="h5 step-title">Testing</h2>
                        <p>We've got all your pages and defined how they display to the site visitor.</p>
                    </div>
                    <!-- End of Step -->
                </div>
            </div>
            <!-- Title  -->
            <div class="row">
                <div class="col text-center">
                    <div class="my-6">
                        <span class="h5">Organic Shape</span>
                    </div>
                </div>
            </div>
            <!--End of Title -->
            <div class="row mt-4">
                <div class="col-12 col-sm-6 col-md-4">
                    <!-- Step -->
                    <div class="step text-center">
                        <div class="step-shape shape-gray-300 organic-radius mb-4">
                            <span class="step-number text-primary border-white">1</span>
                            <span class="step-icon icon-primary"><span class="fas fa-bullseye"></span></span>
                        </div>
                        <h2 class="h5 step-title">Goal identification</h2>
                        <p>Where I work with the client to determine what goals the site needs.</p>
                    </div>
                    <!-- End of Step -->
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <!-- Step -->
                    <div class="step text-center">
                        <div class="step-shape shape-gray-300 organic-radius mb-4">
                            <span class="step-number text-primary border-white">2</span>
                            <span class="step-icon icon-primary"><span class="fas fa-code-branch"></span></span>
                        </div>
                        <h2 class="h5 step-title">Content creation</h2>
                        <p>Now that we have a bigger picture of the site in mind, we can start.</p>
                    </div>
                    <!-- End of Step -->
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <!-- Step -->
                    <div class="step text-center">
                        <div class="step-shape shape-gray-300 organic-radius mb-4">
                            <span class="step-number border-white">3</span>
                            <span class="step-icon icon-primary"><span class="fas fa-award"></span></span>
                        </div>
                        <h2 class="h5 step-title">Testing</h2>
                        <p>We've got all your pages and defined how they display to the site visitor.</p>
                    </div>
                    <!-- End of Step -->
                </div>
            </div>
            <!-- Title  -->
            <div class="row">
                <div class="col text-center">
                    <div class="my-6">
                        <span class="h5">Square Shape</span>
                    </div>
                </div>
            </div>
            <!--End of Title -->
            <div class="row mt-4">
                <div class="col-12 col-sm-6 col-md-4">
                    <!-- Step -->
                    <div class="step text-center">
                        <div class="step-shape shape-gray-300 rounded text-primary mb-4">
                            <span class="step-number border-white">1</span>
                            <span class="step-icon icon-primary"><span class="fas fa-bullseye"></span></span>
                        </div>
                        <h2 class="h5 step-title">Goal identification</h2>
                        <p>Where I work with the client to determine what goals the site needs.</p>
                    </div>
                    <!-- End of Step -->
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <!-- Step -->
                    <div class="step text-center">
                        <div class="step-shape shape-gray-300 rounded text-primary mb-4">
                            <span class="step-number border-white">2</span>
                            <span class="step-icon icon-primary"><span class="fas fa-code-branch"></span></span>
                        </div>
                        <h2 class="h5 step-title">Content creation</h2>
                        <p>Now that we have a bigger picture of the site in mind, we can start.</p>
                    </div>
                    <!-- End of Step -->
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <!-- Step -->
                    <div class="step text-center">
                        <div class="step-shape shape-gray-300 rounded text-primary mb-4">
                            <span class="step-number border-white">3</span>
                            <span class="step-icon icon-primary"><span class="fas fa-award"></span></span>
                        </div>
                        <h2 class="h5 step-title">Testing</h2>
                        <p>We've got all your pages and defined how they display to the site visitor.</p>
                    </div>
                    <!-- End of Step -->
                </div>
            </div>
            <!-- Title  -->
            <div class="row">
                <div class="col text-center">
                    <div class="my-6">
                        <span class="h5">Choose your color</span>
                    </div>
                </div>
            </div>
            <!--End of Title -->
            <div class="row mt-4">
                <div class="col-12 col-sm-6 col-md-4">
                    <!-- Step -->
                    <div class="step text-center">
                        <div class="step-shape shape-primary rounded-circle text-white mb-4">
                            <span class="step-number rounded-circle border-gray-300er">1</span>
                            <span class="step-icon icon-white"><span class="fas fa-assistive-listening-systems"></span></span>
                        </div>
                        <h2 class="h5 step-title">Primary color</h2>
                        <p>Now that we have a bigger picture of the site in mind, we can start.</p>
                    </div>
                    <!-- End of Step -->
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <!-- Step -->
                    <div class="step text-center">
                        <div class="step-shape shape-secondary rounded-circle text-white mb-4">
                            <span class="step-number rounded-circle border-gray-300er">2</span>
                            <span class="step-icon icon-white"><span class="fas fa-highlighter"></span></span>
                        </div>
                        <h2 class="h5 step-title">Secondary color</h2>
                        <p>Now that we have a bigger picture of the site in mind, we can start.</p>
                    </div>
                    <!-- End of Step -->
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <!-- Step -->
                    <div class="step text-center">
                        <div class="step-shape shape-tertiary rounded-circle text-white mb-4">
                            <span class="step-number rounded-circle border-gray-300er">3</span>
                            <span class="step-icon icon-white"><span class="fas fa-fire"></span></span>
                        </div>
                        <h2 class="h5 step-title">Tertiary color</h2>
                        <p>Now that we have a bigger picture of the site in mind, we can start.</p>
                    </div>
                    <!-- End of Step -->
                </div>
            </div>
            <!-- Title  -->
            <div class="row">
                <div class="col text-center">
                    <div class="my-6">
                        <span class="h5">Bordered</span>
                    </div>
                </div>
            </div>
            <!--End of Title -->
            <div class="row">
                <div class="col-12 col-sm-6 col-md-4">
                    <!-- Step -->
                    <div class="step text-center">
                        <div class="step-shape bordered border-primary rounded-circle mb-4">
                            <span class="step-number rounded-circle text-primary border-primary">1</span>
                            <span class="step-icon icon-primary"><span class="fas fa-assistive-listening-systems"></span></span>
                        </div>
                        <h2 class="h5 step-title">Discussion</h2>
                        <p>Where I work with the client to determine what goals the site needs.</p>
                    </div>
                    <!-- End of Step -->
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <!-- Step -->
                    <div class="step text-center">
                        <div class="step-shape bordered border-tertiary organic-radius mb-4">
                            <span class="step-number text-tertiary border-tertiary">3</span>
                            <span class="step-icon icon-tertiary"><span class="fas fa-fire"></span></span>
                        </div>
                        <h2 class="h5 step-title">Production</h2>
                        <p>Now that we have a bigger picture of the site in mind, we can start.</p>
                    </div>
                    <!-- End of Step -->
                </div>
                <div class="col-12 col-sm-6 col-md-4">
                    <!-- Step -->
                    <div class="step text-center">
                        <div class="step-shape bordered border-secondary rounded mb-4">
                            <span class="step-number text-secondary border-secondary">2</span>
                            <span class="step-icon icon-secondary"><span class="fas fa-highlighter"></span></span>
                        </div>
                        <h2 class="h5 step-title">Prototyping</h2>
                        <p>We've got all your pages and defined how they display to the site visitor.</p>
                    </div>
                    <!-- End of Step -->
                </div>
            </div>
        </div>
    </div>
    <!-- End of Section -->

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
